<div #mapa class="mapa-container"></div>


<div class="row">
  <div class="col-12">
    <label
    class="form-label zoom">
    <span>Zoom: {{zoomLevel | number:'2.0-2'}}</span>
    <span>-Lng, Lat : [123, 456]</span>
  </label>
  <input type="range" class="form-range">
  </div>

  <div class="col-12">
    <button
    (click)="zoomIn()"
      class="btn btn-primary"
    >+</button>

    <button
    (click)="zoomOut()"
    class="btn btn-primary float-end"
   >-</button>

  </div>


</div>
<button
class="btn  btn-sm btn-primary satellite"
(click)="setStyleMap()"
>
{{mapStyle.includes('satellite') ?  'Normal' : 'satellite'}}
</button>
