<div #mapa class="mapa-container"></div>


<div class="row shadow">
  <div class="col-12">
    <label
    class="form-label zoom">
    <span>Zoom:<strong>{{zoomLevel | number:'2.0-2'}}</strong> </span>
    <span>Lg:<strong>{{center[0] | number: '2.0-4'}}</strong>, Lt: <strong>{{ center[1] | number:'2.0-4'}}</strong></span>
  </label>
  <input
          type="range"
          class="form-range"
          [value]="zoomLevel"
          min="2.5"
          max="19"
          (input)="zoomChanged( zoomInput.value)"
          #zoomInput
          >
  </div>

  <div class="col-12">
    <button
    (click)="zoomIn()"
      class="btn btn-sm btn-primary"
    >+</button>

    <button
    (click)="zoomOut()"
    class="btn btn-sm btn-primary float-end"
   >-</button>

  </div>


</div>
<button
class="btn shadow btn-sm btn-info satellite"
(click)="setStyleMap()"
>
{{mapStyle.includes('satellite') ?  'Normal' : 'satellite'}}
</button>
<button
class="btn shadow btn-sm btn-info satellite2"
(click)="myPosition()"
>
Mi ubicación
</button>

